@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(to right,rgb(181, 244, 247), rgb(96, 201, 243));
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-image: linear-gradient(to right, rgb(181, 244, 247), rgb(96, 201, 243));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

.logo {
    font-size: 36px;
    color: #e9e9e9;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    background-color: rgb(53, 53, 53);
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 12px;
    border: #000000;
}

.navbar{
    background-color: rgb(53, 53, 53);
    width: 460px;
    height: 20%;
    line-height: 3;
    border-radius: 12px;
    border: 2px solid;border: #000000;
}

.navbar a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    line-height: 1;
    transition: all 260ms;
    border-color: #000000;
}
  
.navbar a:hover,
.navbar a.active{
    font-size: 20px;
    color: rgb(79, 144, 148);
    font-weight: 500;
    margin-left: 20px;
    line-height: 1; 
 }

.home{
    height: 100vh;    
    display: flex;
    align-items: center;
    padding: 0px 10%;
    animation: ease-in;
    animation-delay: 4s;
    z-index: 100;
}
.home-content{
    max-width: 580px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    
}

.home-content h3 {
    font-size: 28px;
    margin: 20px 0px 0px;
    font-weight: 800;
    color: #02838a;
}

.home-content p{
    font-size: 18px;
    margin: 20px 0px 40px;
}

.home-content .btn-box{
    width: 340px;
    height: 50px;
    background-color: rgb(155, 234, 248);
}

.btn-box a{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #02838a;
    border: 2px solid #02838a;
    border-radius: 12px;
    color:rgb(53, 53, 53);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(195, 253, 248);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
    
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 90px;
    color: #02838a;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgb(53, 53, 53);
    border: 2px solid rgb(53, 53, 53);
    border-radius: 12%;
    color: #02838a;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(195, 253, 248);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
    
}

.container {
    position: relative;
}
  
.container img {
    position: absolute;
    top: -250px; /* Adjust the top position as desired */
    left: 40px; /* Adjust the left position as desired */
}


